[Unit]
Description=Simply Go Server
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/app
ExecStart=/app/simply run --conf=/app/config.js
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
